* {
  margin: 0;
  text-decoration: none;
  color: whitesmoke
}

body {
  margin-top: 70px;
  height: 100%;
  color: whitesmoke
}

.header {
  width: 100vw;
  height: 70px;
  background-color: #000026;
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  height: 50px;
  margin: 10px 20px;
}

.footer{
  width: 100vw;
  height: 50px;
  background-color: #000026;
  text-align: center;
  line-height: 50px;
  color: white
}
