.main_container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbar_background {
  margin: 3rem;
  height: 75vh;
  width: 85vw;
  display: flex;
  background-image: url(/pictures/searchBackground.jpeg);
  background-size: cover;
}
.searchbar {
  width: 90%;
  max-width: 600px;
  height: 40px;
  margin: auto;
  border: 1px solid gray;
  border-radius: 17px;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 3px 3px 3px black;
  outline: none;
}
.category_container {
  background-color: #b9b9b9;
  padding: 3rem 1rem;
  width: 75vw;                             
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.category_card {
  margin: 5px;
  height: 350px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.category_button {
  width: 80%;
  height: 55px;
  border-radius: 10px;
  font-size: 2rem;
  background-color: white;
  line-height: 55px;
  display: block;
  text-align:  center;
  text-decoration: none;
  color: black;
}

a:visited{
  text-decoration: none;
  color: black;
}

.category_button:hover{
  background-color: rgb(236, 236, 236);
}

.praed {
  background-image: url(/pictures/pasta_background.jpg);
  background-size: cover;
}

.supid {
  background-image: url(/pictures/soup_background.jpg);
  background-size: cover;
}

.magus {
  background-image: url(/pictures/cake_background.jpeg);
  background-size: cover;
}
