/* index.css */

/* Stiil peamise konteineri jaoks */
.main_container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Stiil otsingu taustale (searchbar_background) */
.searchbar_background {
  margin: 3rem;
  height: 75vh;
  width: 85vw;
  display: flex;
  background-image: url(./pictures/searchBackground.jpeg);
  background-size: cover;
}

/* Stiil otsinguribale (searchbar) */
.searchbar {
  width: 90%;
  max-width: 600px;
  height: 40px;
  margin: auto;
  border: 1px solid gray;
  border-radius: 17px;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 3px 3px 3px black;
  outline: none;
}

/* Stiil kategooriate konteinerile (category_container) */
.category_container {
  background-color: #b9b9b9;
  padding: 3rem 1rem;
  width: 75vw;
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Stiil kategooria kaardile (category_card) */
.category_card {
  margin: 5px;
  height: 350px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid;
}

/* Stiil kategooria nupule (category_button) */
.category_button {
  width: 80%;
  height: 55px;
  border-radius: 10px;
  font-size: 2rem;
  background-color: white;
  line-height: 55px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  border: solid black 2px;
}


a:visited{
  text-decoration: none;
  color: black;
}

.category_button:hover{
  background-color: rgb(221, 220, 220);
}

.praed {
  background-image: url(./pictures/pasta_background.jpg);
  background-size: cover;
}

.supid {
  background-image: url(./pictures/soup_background.jpg);
  background-size: cover;
}

.magus {
  background-image: url(./pictures/cake_background.jpeg);
  background-size: cover;
}

/* Media query väiksemate ekraanide jaoks */
@media only screen and (max-width: 600px) {
  .searchbar_background {
    width: 95vw;
    height: 50vh;
  }

  .searchbar {
    font-size: 1.2rem;
  }

  .category_container {
    width: 90%;
    flex-direction: column;
    align-items: stretch;
  }

  .category_card {
    margin: 5px 0;
    width: 100%;
  }

  .category_button {
    width: 95%;
  }
}
