/* Üldine lehe stiil */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white; /* Taustavärv kogu lehele */
}

/* Retsepti konteineri stiilid */
.recipe-container {
    display: flex;
    border: none; /* Eemaldab kasti ümber värvilise piirjoone */
    border-radius: 15px; /* Ümarad nurgad */
    overflow: hidden;
    margin: 20px; /* Lisa välimised marginaalid (eraldamiseks) */
}

/* Vasaku kasti stiilid */
.left-column {
    flex: 2; /* Võtab 2/3 laiusest */
    padding: 20px;
    background-color: #E9E9E9; /* Taustavärv E9E9E9 */
    border-radius: 15px; /* Ümarad nurgad */
}

/* Parempoolse kasti stiilid */
.right-column {
    flex: 1; /* Võtab 1/3 laiusest */
    overflow: hidden;
    padding: 20px; /* Lisa välimine polsterdus (eraldamiseks) */
    box-sizing: border-box; /* Tagab, et padding ei mõjuta kasti suurust */
    border-radius: 15px; /* Ümarad nurgad */
}

/* Retsepti pealkirja stiilid */
.recipe-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Koostisosade stiilid */
.ingredients {
    margin-bottom: 20px;
}

.ingredients ul {
    list-style-type: none;
    padding: 0;
}

.ingredients li {
    margin-bottom: 5px;
}

/* Valmistamise pealkirja stiilid */
.instructions-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Valmistamisjuhiste stiilid */
.instructions {
    line-height: 1.5;
}

/* Retsepti pildi stiilid */
.recipe-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pilt täidab kogu ruumi, säilitades kuvasuhte */
    border-radius: 15px; /* Ümarad nurgad */
}
