.main_container {
width: 100vw;
display: flex;
flex-direction: column;
align-items: center;
}

.recepie_background {
margin: 1rem;
height: 10vh;
width: 85vw;
border-radius: 10px;
background-color: #E9E9E9;
display: flex;
box-shadow: 3px 3px 3px black;
text-align: left;
padding-right: 40px;
justify-content: flex-end;
align-items: center;
}

.recepie_button {
width: 20%;
height: 50px;
border-radius: 10px;
border-width: 0;
font-size: 1.7vh;
background-color: #FFCE81;
justify-content: space-around; /* Aligns the content to the right */
align-items: center; /* Aligns the content vertically in the middle */
}

.recepie_button:hover{
background-color: #fbd89f;
}

.pealkiri{
font-weight: bold;
font-size: 2vw;
justify-content: flex-end;
align-items: center;
}

/*Siin on mingi stuff mida proovisin kasutada*/
.row {
display: flex; /* Use flexbox for layout */
justify-content: space-between; /* Distribute space between items */
margin-bottom: 10px; /* Add margin between rows */
}

.text {
    margin-right: 8px; 
    /* Adjust spacing between the text and icon */
    /* Add additional styling for the text if needed */
}

.icon {
    /* Add styling for the icon if needed */
    max-width: 24px; /* Set a maximum width for the icon */
    max-height: 24px; /* Set a maximum height for the icon */

  