/* Üldine lehe stiil */
.main_container {
    min-height: max(700px, 100vh);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: white;
}

/* Retsepti konteineri stiilid */
.recipe-container {
    height: 60vh;
    min-height: 500px;
    width: 80vw;
    max-width: 1500px;
    display: flex;
    margin: 20px;
    align-items: center;
}

/* Vasaku kasti stiilid */
.left-column {
    flex: 1;
    height: 100%;
    padding: 40px;
    background-color: #E9E9E9; 
    border-radius: 5px; 
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Retsepti pealkirja stiilid */
.recipe-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Koostisosade stiilid */
.ingredients {
    margin-bottom: 18px;
}

li{
    font-size: 1.5rem;
}

.ingredients li {
    margin-bottom: 5px;
}

/* Valmistamise pealkirja stiilid */
.instructions-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Valmistamisjuhiste stiilid */
.instructions {
    line-height: 1.5;
    margin-bottom: 3rem;
}

.right-column{
    flex:1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Retsepti pildi stiilid */
.recipe-image {
    height: 90%;
    width: 80%;
    border-radius: 5px;
    box-shadow:black 5px 5px 5px;
}

.guide{
    font-size: 1.5rem;
  }