/* recipe.css */

/* Üldine stiil lehele */
.main_container {
  min-height: max(700px, 100vh);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: white;
}

/* Stiil retsepti konteinerile (recipe-container) */
.recipe-container {
  height: 60vh;
  min-height: 500px;
  width: 80vw;
  max-width: 1500px;
  display: flex;
  margin: 20px;
  align-items: center;
}

/* Stiil vasakule kastile (left-column) */
.left-column {
  flex: 1;
  height: 100%;
  padding: 40px;
  background-color: lightgray;
  border-radius: 5px;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Stiil retsepti pealkirjale (recipe-title) */
.recipe-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Stiil koostisosadele (ingredients) */
.ingredients {
  margin: 28px 0;
}

/* Stiil koostisosade nimetustele (nameAndTime) */
.nameAndTime {
  display: flex;
  justify-content: space-between;
}

/* Stiil listielementidele (li) */
li {
  font-size: 1.5rem;
}

/* Stiil koostisosade listielementidele (ingredients li) */
.ingredients li {
  margin-bottom: 5px;
}

/* Stiil valmistamise pealkirjale (instructions-title) */
.instructions-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Stiil valmistamisjuhistele (instructions) */
.instructions {
  line-height: 1.5;
  margin-bottom: 3rem;
}

/* Stiil paremale kastile (right-column) */
.right-column {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Stiil retsepti pildile (recipe-image) */
.recipe-image {
  height: 90%;
  width: 80%;
  border-radius: 5px;
  box-shadow: black 5px 5px 5px;
}

/* Stiil juhendile (guide) */
.guide {
  font-size: 1.5rem;
}

/* Media query väiksemate ekraanide jaoks */
@media only screen and (max-width: 600px) {
  .left-column {
    padding: 20px;
    margin: 1rem;
  } 
